<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @available_stock.blood_type %>
</p>

<p>
  <strong>Units:</strong>
  <%= @available_stock.units %>
</p>

<p>
  <strong>Price:</strong>
  <%= @available_stock.price %>
</p>

<%#= link_to 'Edit', edit_available_stock_path(@available_stock) %> 
<%#= link_to 'Back', available_stocks_path %>